{% extends "theme/base.html" %}
{% block title %}Product Details{% endblock  %}
{% block content %}
    <div class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-md mb-20">
        <h1 class="text-4xl font-bold text-blue-600 mb-4">{{ product.name }}</h1>
        <p class="text-gray-600 text-lg">Price: ${{ product.price }}</p>
        <p class="text-gray-700 mt-4">{{ product.description }}</p>
        <a href="{% url "product_list" %}" class="mt-6 inline-block px-6 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">Back to Product List</a>
    </div>
    {% include "theme/footer.html" %}
{% endblock  %}